.page-content {
  min-height: 100vh;
}

.login-template {
  width:280px;
  margin:auto;
}

body {
  height:100%;
}

.map-container {
  height:200px;
}

.border-img {
  border: 1px solid #777;
}

.dropzone {
  border:1px dashed #777;
  padding:10px;
}

.map-container {
  height:200px;
  margin-top:20px;
}

.logo {
  width:20%;
}
.logo img {
  width:100%;
}

.nav-wrapper li:hover, .nav-wrapper a:hover {
  cursor:pointer;
}

.nav-wrapper {
  padding-left:10px;
}

.before-button {
  margin-right:5px;
}
.rating-hint {
  font-style: italic;
}

.experience-info i, .company-info i {
  margin-right:8px;
}

.experience .photo-container {
  margin-right: 5px;
}

.experience .photo-container img {
  width:80px;
  height:80px;
}

.company-description {
  padding-top:20px;
}

.general-rating-container {
  font-size: 1.5em;
}

.company .add-experience {
  text-align: right;
  margin-top:20px;
  margin-bottom:20px;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #E4E4E4; }
  .chip img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%; }
  .chip i.material-icons {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px; }
